<ul>
    <li class="item"><a href="/admin_dashboard/<%= adminjson._id %>">DashBoard</a></li>
    <li class="item"><a href="/crud_positions/<%= adminjson._id %>">Positions</a></li>
    <li class="item"><a href="/crud_candidates/<%= adminjson._id %>">Candidates</a></li>
    <li class="item"><a href="/crud_voters/<%= adminjson._id %>">Voters</a></li>
    <li class="item"><a href="/results/<%= adminjson._id %>">Results</a></li>
    <li class="item"><a href="/admin_resultgraph/<%= adminjson._id %>">Results Graphs</a></li>
    <li class="item"><a href="/feedbacks/<%= adminjson._id %>">Feedbacks</a></li>
</ul>