<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/crud_positions.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="navbar" class="item">
            <%- include('./partials/header.ejs',{adminjson}) %>
        </div>
        <div id="menu" class="item">
            <%- include('./partials/sidebar.ejs',{adminjson}) %>
        </div>

        <div id="midbody" class="item">
            <h1 style="text-align: center;">Feedbacks</h1>
            <table id="customers">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Feedback</th>
                </tr>
                <%feedbacks.forEach((i) => { %>
                    <tr>
                        <td><%= i.Name %></td>
                        <td><%= i.Email %></td>
                        <td><%= i.Mobile_No %></td>
                        <td><%= i.Message %></td>
                    </tr>
                <% }) %>

            </table>
        </div>
    </div>

</body>

</html>