
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/crud_positions.css">
</head>

<body>
    <div class="container">
        <div id="navbar" class="item">
            <%- include('../partials/header.ejs',{adminjson,pos}) %>
        </div>
        <div id="menu" class="item">
            <%- include('../partials/sidebar.ejs',{adminjson,pos}) %>
        </div>

        <div id="midbody" class="item">
            <form action="/edit_position/<%= pos._id %>?_method=PUT" method="POST">
                <div class="addposform">
                    <label for="pos"><b>Position</b></label>
                    <input type="text" class="form-control" id="pos" name="Position" value="<%= pos.Position %>" readonly>
                </div>   

                <div class="addposform">
                    <label for="info"><b>Info</b></label>
                    <input type="text" class="form-control" id="info" name="Info" value="<%= pos.Info %>" placeholder="" required>
                </div>

                <div class="addposform">
                    <a href="/crud_positions/<%= adminjson._id %>">
                        <button type="submit" class="addposbtn"><b>Confirm Changes</b></button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>